<div class="login-page">
  <div class="login-box">

    <div class="logo" style="margin-top: 15px;">
      <a href="javascript:void(0);">Angular 6</a>
    </div>

    <div class="card">
      <div class="body">
        <form name="loginForm" (ngSubmit)="loginOnApp()">
          <div class="input-group" style="text-align: center">
            <h4 class="text-center">LogIn</h4>
          </div>

          <div class="input-group" style="text-align: center">
            <mat-form-field>
              <input class="form-control" matInput placeholder="Username" type="text" id="login" required [(ngModel)]="loginData.login"
                name="login" [formControl]="login">
              <mat-error *ngIf="login.hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-group" style="text-align: center">
            <mat-form-field>
              <input class="form-control" matInput placeholder="Password" type="password" id="password" required
                [(ngModel)]="loginData.password" name="password" [formControl]="password">
              <mat-error *ngIf="password.hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row" style="text-align: center">
            <div class="col-xs-4">
              <button id="LoginButton" style="height: 25px; width: 60px" class="btn btn-block bg-blue-grey waves-effect" type="submit">Login</button>
            </div>

            <mat-error *ngIf="loginFail.hasError('wrongLoginOrPassword')">
              Wrong username or password
            </mat-error>
          </div>

          <div class="row m-t-15 m-b--20">
            <div class="col-xs-12">
              <a routerLink="/create-account">Register</a>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>