<div *ngIf="loginService.isUserAuthenticated()">
    <nav class="navbar" style="background-color: #607D8B">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="/assets/angular.svg" width="70" height="50" alt="" style="float:left;" /></a>
            </div>
            <div style="text-align: center">
                <div style="font-size: 26px; color: white; font-family: 'Roboto', sans-serif; width: 80%; margin: 0 auto; text-align: center;">
                    <span>Angular 6</span>
                </div>
            </div>
        </div>
    </nav>

    <section>
        <aside class="sidebar">
            <app-menu></app-menu>
        </aside>
    </section>

</div>

<router-outlet></router-outlet>